*{margin: 0;
font-family:'raleway',serif;
font-weight:500;
}


body{
	
	max-width:100vw;

}

hr{ 
	border-top: 0; 
	border-right: 0; 
	border-bottom: 0; 
	border-left: 0; 
}

.pad0{
	padding: 0;
}

.no-menu{
	left:-100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
 }





/**********for collapsing the inner section************/

.bdy{
	position: relative;
	width: 100%;
	padding: 0;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
	}

.slide.bdy{
	right: 0;
	padding-left:25%;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}

.no-see{

	width:0;
	display: none;
	opacity:0;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
	}
		/***************** cng bg  ************************/

.bgimg-l{
	opacity: 1;
	background: rgba(0,0,0,0.8) url("../images/Layer 1.jpg") no-repeat scroll center center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.bgimg-l.no-see{
	width: 0;
	left: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
/* center the header element */
.centry{
	
	position: absolute;
	color: #fff;
	text-align: center;
	margin-top: -5%;
	
}
.centry>h1{ 
	text-align: center;
	position: relative;
	font-family: 'raleway' , sans-serif;
	font-weight: 700;
	font-size: 3.6vw;
	width:50%;
	margin: 20% 0 0 25%;

}
.centry>p{ 
	text-align: center;
	position: relative;
	font-family: 'raleway' , sans-serif;
	width:50%;
	margin: 2% 0 0 25%;

}
.centry>.button1{ 
	text-align: center;
    position: relative;
    /* margin: 5% auto; */
    left: -38%;
    background-color: #fb6470;

}

/**************** main background  ***********/

.bgimg-m{
	opacity: 1;
	background: rgba(0,0,0,0.8) url('../images/Layer 36new.jpg') no-repeat fixed center center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;

}

.bgimg-m.no-see{
	width: 0;
	right: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;

}


.brdr{
	
	position: relative;
	top: 50vh;
	height:600px;
	width:450px;
	background-color: transparent;
	color: #fff;
}

.for-border{

	position:relative;
	display: block;
	width:240px;
	height:50px;
	border-bottom:3px solid #fb6470;
	border-top: 3px solid #fb6470;
	
}

.for-border h3{
	font-size:30px;
	font-weight: 600;
	font-family: 'raleway' ,serif;
	margin-top:0px;
	padding-top:0px;
	line-height:40px;
}

.middle-line{
	padding:10px 0;
}

.button1{
	background-color:#fb6470;
	margin:10% 0;
	border:0px;
	width:140px;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
	    -ms-transition: all .15s ease-in-out;
	     -o-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;
	border-radius:0;
}

.button1:focus,
.button1.focus {
  color: #fff;
  background-color: #fb5560;
  border-color: #fb5666;
 
}
.button1:hover {
  color: #fff;
  background-color: #fb6045;
  border-color:transparent;
 
}

.button1:active,.button1.active
{
  color: #fff;
  background-color: #fc6490;
    border-color: #fb7035;
    
}

.button1:active:hover,
.button1.active:hover,
.button1:active:focus,
.button1.active:focus,
.button1:active.focus,
.button1.active.focus, {
  color: #fff;
  background-color: #fb7035;
  border-color: #fc5380;
}

#center-the-button{
		padding: 0;
	    margin: 5% auto;
	}



.menu-one.no-menu{
	left:-100%;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;

}


.menu-one {

	position:fixed;
	top:0px;
	height:100vh;
	width:25%;
	background: #353541;
	z-index: 9999;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;

}
.menu-one ul{
	width:100%;
	height:100%;
	padding-left:0px;
	margin:0px;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
	    -ms-transition: all .15s ease-in-out;
	     -o-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;

}

.menu-one ul li {
	
	padding: 3.5%;
    position: relative;
    width: 100%;
    /* height: 65px; */
    list-style: none;
    background: #353541;
    border-bottom: 1px solid #000;
    -webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
	    -ms-transition: all .15s ease-in-out;
	     -o-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;
}
 
 .menu-one ul li.one {

 	position:relative;
 	height:200px;
 	background:url("../images/1.jpg");
 	background-size:cover;
 	background-repeat:no-repeat;
 }

 .one .text-t{
 	    position: absolute;
    color: #fff;   
    margin-top: 0;
    padding: 0;
    top: 50%;
   
 }

 .menu-one ul li a{
 	text-decoration: none;
 	color: #fff;
 	font-size: 3.2vh;

 	-webkit-transition: all .25s linear;
 	   -moz-transition: all .25s linear;
 	    -ms-transition: all .25s linear;
 	     -o-transition: all .25s linear;
 	        transition: all .25s linear;
 }

  .menu-one ul li a:hover{
 	padding-left:15% ;
 }








/******************nav icon*******************/
.menu-ico {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    /*margin-right:2%;*/
    position: absolute;
	z-index: 10000;
	left: 2%;
	top: 3%;
	position: fixed;
	
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fb6470;
    margin: 6px 0;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
    margin-right: 2%;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-42deg) translate(-6px, 6px) ;
    transform: rotate(-42deg) translate(-6px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(42deg) translate(-6px, -7px) ;
    transform: rotate(42deg) translate(-6px, -7px) ;
}


/* **************about me section*************** */

.abt{
	position: relative;
	width:100%;
	height:300%;
	background-color: rgba(0,0,0,0.1);
	color:rgba(0, 0, 0, 0.8);
	font-family: 'raleway' , sans-serif;
}
 .me1{
 	/* position: fixed; */
    height: 500px;
    /*width: 100%;*/
    background: transparent url('../images/layer-91.png') no-repeat scroll center;
    background-size: contain;
    /* top: 21%; */
    margin-top: 15%;
 }

 .about-me{
 	background-color: transparent;
 	padding-right:10%;
 	margin: 16% 0 0 10%;
 	font-size: 16px;

 }
  .about-me p{
	margin: 5% auto;
	color:rgba(0, 0, 0, 0.8);

 }

 .about-me h2{
	font-size: 32px;
	font-weight: 700;
	color:rgba(0, 0, 0, 1);

 }

 .about-me hr{
 	width: 100px;
 	height: 3px;
 	background-color: #fb6470;
 	color: #fb6490;
 }

  .about-me ul{
	padding: 0;
	color:rgba(0, 0, 0, 0.8);

 }

 .about-me li{
    /* height: 65px; */
    line-height: 4.5;
    background-color: rgba(255, 255, 255, 0.7);
    /* margin: 7%; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    color:rgba(0, 0, 0, 0.8);


 }

/* ****************work experience section************** */
.work-exp{

	margin: 0 10%;
	padding: 10% 0 0 10%;
	background-color: #fff;
}

.work-exp hr{
 	width: 115px;
 	height: 3px;
 	background-color: #fb6470;
 	color: #fb6490;
 }


.work-experience {
	position: relative;
	background:#fff;
}


 .work-experience h2{
 	position: relative;
	font-size: 32px;
	font-weight: 700;
	color:rgba(0, 0, 0, 1);
	text-transform: capitalize;	

 }

 .work-experience hr{

 	width: 115px;
 	height: 3px;
 	background-color: #fb6470;
 	color: #fb6490;
 }

 .balls{

	height: 700px;
	float: right;
    width: 75px;
 	background: transparent url("../images/Untitled-1.png") no-repeat scroll top center;
 }

.ll {
	  margin: 13% 0 0;
}

/* bubble-box */

.box{
	position: relative;
	min-height: 120px;
	width: 85%;
	background-color: #353541;
	color: #fff;
	margin-bottom: 10px;
	left: 15px;
	margin: 10%;
	text-align: left;
	border-radius: 10px;
	padding: 3%;
}
.ll .box::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 65px solid #353541;
    border-top: 25px solid transparent;
}

.rr .box::after{
    content: '';
    position: absolute;
    top: 20%;
    right: 100%;
    width: 0;
    height: 0;
    border-right: 65px solid #353541;
    border-top: 25px solid transparent;
}

.box h4{
	font-family: 'raleway' , sans-serif;
	font-weight: 500;

}
.box strong{
	font-family: 'raleway' , sans-serif;
	

}

.box span{
	font-family: 'raleway' , sans-serif;
	font-size: 17px;
	color: hotpink;
}

/* skil-section */

.skill{
	position: relative;
	background: transparent url('../images/Layer35.jpg') no-repeat scroll center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.skill h2{
	position: relative;
	font-size: 32px;
	font-family: "raleway",arial,helvetica, sans-serif;
	font-weight: 700;
	color:rgba(255, 255, 255, 0.9);
	text-transform: capitalize;	
	-webkit-filter: blur(0);
    filter: blur(0);

}

.skill hr{

 	width: 100px;
 	height: 3px;
 	background-color: #fb6470;
 	color: #fb6490;
 	-webkit-filter: blur(0);
    filter: blur(0);
 }

/* progress-bar */

.bar{
	position: relative;
	/*height:5px;*/
	width:300px;
	background-color:transparent;
	margin: 10% 0;
	-webkit-filter: blur(0);
    filter: blur(0);
    border-bottom:5px solid #cbc8c7;

}

.bar h3{ 
	color: #fff;
	font-family: 'raleway' ,serif;
	font-weight: 500;
 }

.bar::after{
	content: " ";
	position: absolute;
	width:75%;
	border-bottom: 5px solid #fb6470;
}

.bar::before{
	content:" ";
	position: absolute;
	height:15px;
	width: 15px;
	border-radius: 100%;
	background-color:#fb6470;
	left: 74%;
    top: 90%;

}

#name,#email,#sub,#comment{
	border:1px solid rgba(0, 0, 0, 0.9);
}

#comment{
	min-height:130px;
}

.msz{
	padding:3%;

}
li>i{
	height:100%;
	text-shadow: 1px 0px 1px #000,-1px -1px 1px #000;
}

.fa-phone{
	-webkit-transform: rotate(90deg) translateY(15px);
	-ms-transform: rotate(90deg) translateY(15px);
	-o-transform: rotate(90deg) translateY(15px);
	transform: rotate(90deg) translateY(15px);
}

/* footer-icon */
.co-link{ 
	text-align: center;
	text-decoration:none;
 }

.row .fa-ul {
	margin-left: 50px;
	line-height: 1.7;
    font-size: medium;
    
 }


 .co-link hr{
 	height: 1px;
 	background-color: rgba(0, 0, 0, 0.6);
 	margin:4% auto ;
 }
.co-link ul{
	position: relative; }

.co-link li{
	/*position: absolute; */
	left:42%;
	float:left;
	width:45px;
border-right:1px solid gray;
}

 .co-link a{
 	text-align:center;
 	text-decoration: none;
 	color:rgba(0,0,0,0.7);
 	-webkit-transition: all .3s linear;
 	   -moz-transition: all .3s linear;
 	    -ms-transition: all .3s linear;
 	     -o-transition: all .3s linear;
 	        transition: all .3s linear;
 	    }

 .co-link a:hover{color: #69d3d7;
 	-webkit-transform: translateY(-5px);
 	   -moz-transform: translateY(-5px);
 	    -ms-transform: translateY(-5px);
 	     -o-transform: translateY(-5px);
 	        transform: translateY(-5px);
 	    }
 			
 #mid{border-right:0px;}	
 
.co-link p{font-size:12px;
color: rgba(0, 0, 0, 0.6);
text-align:center;
}


/* portfolio-section */

.portfolio h2{
	margin: 20% auto 5% auto;
}
.portfolio hr{
	    width: 100px;
    border-bottom: 2px solid #fb6470;
    margin-left: 15px;
}


.tabs{
	max-width: 90%;
    height: 50px;
    position: relative;
    border-bottom: 2px solid gray;
     text-align: justify;
    margin: 45px auto;

}


.tabs div{
	height: 100%;
	cursor: pointer;
	text-align:center;
	color: black;
	text-decoration: none;
	left:0;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}


.tabs div:hover:after, .tabs div:focus:after, .tabs div:active:after {
	top: 100%;
  width: 90%;
  height: 3px;
   left: 0;
}


.tabs div:after{
	    content: "";
    position: absolute;
    width: 0px;
    left: 25%;
    background-color: #fb6470;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
}

.tabs div:last-child:after{
	right:0;
}



.gallary{
	
	position: relative;
}
.gallary .mix{
	display: none;
}



.gallary ul li{
	list-style: none;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;

}



 a{
	padding:15px;
}
.gallary img{
	left: -15px;
	position: relative;
    width: 100%;
    margin: 10px;
    -webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;

}


.gallary p{
	text-decoration: underline;
	font-size: 14px;
	border-bottom:1px solid #fff;
}

.jumbotron{
	background-color: #fff;
}

.full-portfolio{
		background: #fff url('../images/Layer39.jpg') 0 0 no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		height: 75vh;
		width: 100%;

}

.brand{
	min-height: 120px;
	width: 100%;
	background-color: #3d4f59;
	color: #fff;
	padding: 10px;
}

.port-def p{
	position: relative;
	margin: 5% 10%;
	min-height: 120px;
}
.port-def.em{min-height: 120px;}

.port-img{
	left: 40%;
    position: absolute;
    background: rgba(255, 255, 255, 0) url('../images/Layer401.png') 0 0 no-repeat;
    /* -webkit-background-size: cover; */
    /* background-size: cover; */
    width: 60%;
    height: 75vh;
}

.coments{
	background-color: #333333;
	color: #fff;
	font-size:16px;
	width: 150px;
	padding:1%;

}

.cm-img1{
	background: url('../images/Layer56.png');
	height:100px;
	width: 100px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	margin:20px 15px 5px 20px;
}

.cm-img2{
	background: url('../images/Layer561.png');
	position: relative;
	height:100px;
	width: 100px;
	-webkit-background-size: cover;
	background-size: cover;
	margin:20px 15px 5px 20px;
}


.cm-img1 h4,p{
	float: left;
}
.cm-img1 h4{
	    margin: 35px 0 0 10px;
}
.cm-img2 h4,p{	
	float: left;
}
.cm-img2 h4{
	    margin: 35px 0 0 10px;
}






/************queries***************/

@media screen and (max-width: 550px) {
	.box{max-width: 280px;}
    .ll .box::after{display: none;}
    .rr .box::after{display: none;}
	.menu-ico{position: absolute;}
    .menu-one{
    	position: relative;
    	width: 100vw;

    }

     .menu-one ul li a{
	 	text-decoration: none;
	 	color: #fff;
	 	font-size: 18px;

 	
 }

	.port-img{
		top: 35%;
	}
    .profile{
		position: relative;
		width: 100vw;
	}

	.menu-li{
		position: relative;
		width: 100vw;
	}

	.slide.bdy{
		bottom: 0;
		padding-left:0;
		-webkit-transition: all .5s ease-in-out;
		   -moz-transition: all .5s ease-in-out;
		    -ms-transition: all .5s ease-in-out;
		     -o-transition: all .5s ease-in-out;
		        transition: all .5s ease-in-out;
	}

.port-img{
	left:0;
	width: 100%;

	}

.port-def.em{height: 10px;}

}

/***********queries end******************/